.container{
    width: 100%;
    max-width: 900px;
    margin: auto;
  }
.servicesection{
    height: 100vh;
    background-color: #f4f1ec;
}
.servicesitems{
    width: 90%;
    margin: auto;
    display: flex;
    /* padding-top: 130px; */
}
.serviceimgbox{
    flex-basis: 40%;
}
.serviceimg{
    margin-top: 100px;
    height: 80%;
}
.servicetext{
    flex-basis: 60%;
    padding: 40px;
}
.servicesheading{
    margin-top: 60px;
    margin-bottom: 30px;
    color: #222344;
}
.servicestext{
    margin-bottom: 20px;
    color: #222344;
}
.servicebuilets{
    margin-bottom: 20px;
}
.serviceIcon{
    width: 20px;
    height: 20px;
    display: block;
    margin: 10px 0;
    margin-right: 10px;
}
.iconText{
    margin: 5px 0;
    width: 200px;
    color: #222344;
}
.servicebuilets{
    display: flex;
}
@media screen and (max-width:620px) {
    .servicesitems{
        display: block;
    }
    .serviceimgbox{
        display: none;
    }
}