.container{
    width: 100%;
    max-width: 900px;
    margin: auto;
  }
.practisesection{
    height: 100vh;
    background:#fff;
}
.practiseitems{
    width: 96%;
    margin-left: auto;
    /* border: 1px solid red; */
    height: 100%;
}
.practiseheading{
    color: #222344;
    margin-bottom: 100px;
}
.text{
    color: #222344;
}
.practiseboxes{
    display: flex;
}
.practisebox{
    padding: 10px;
}
.practisebox h3{
    margin-bottom: 80px;
}
.box1{
    background-color:#e8d1ae ;
}
.box2{
    background-color:#dbbf94 ;
}
.box3{
    background-color:#cdad7d ;
}
@media screen and (max-width:637px){
    .practiseboxes{
        display: block;
    }
}
@media screen and (max-width:283px){
    .practisebox{
        padding: 4px;
    }
    .practisebox h3{
        margin-bottom: 30px;
    }
}