/* Hero Section Styles */
.container{
  width: 100%;
  max-width: 900px;
  margin: auto;
}
.herosection {
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  background: linear-gradient(
      rgba(1, 8, 27, 0.842),
      rgba(2, 5, 22, 0.801)
    ),
    url(../../assets/hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Heading Styles */
.heroheading {
  width: 370px;
  font-size: 50px;
  margin: 20px 0;
  letter-spacing: 1px;
  font-weight: 600;
  color: #cdad7d;
}
/* Text Styles */
.herotext {
  width: 514px;
  line-height: 30px;
  letter-spacing: 2px;
}

/* Button Styles */
.btn {
  background-color: #cdad7d;
  padding: 10px 15px;
  margin-top: 30px;
  transition: transform 0.4s ease-in-out;
  text-transform: uppercase;
}

.btn:hover {
  transform: scale(1.2);
}

/* Media Queries */
@media screen and (max-width: 948px) {
  .herosection {
    padding-left: 40px;
  }
}

@media screen and (max-width: 768px) {
  .heroheading {
    font-size: 36px;
    max-width: 100%;
  }

  .herotext {
    font-size: 16px;
    max-width: 100%;
    line-height: 1.4;
  }

  .btn {
    padding: 8px 12px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .heroheading {
    font-size: 28px;
  }

  .herotext {
    font-size: 14px;
  }

  .herosection {
    height: auto; /* Fit content height on smaller screens */
    padding: 40px 20px;
  }
}
@media screen and (max-width:336px) {
  .heroheading{
    width: 200px;
    font-size: 20px;
  }
}