/* About Section */
.about-section {
    height: 100vh;
  }
  
  /* About Items Container */
  .about-items {
    display: flex;
    /* padding-top: 150px; */
  }
  
  /* Info Section */
  .info {
    flex-basis: 50%;
    height: 100vh;
  }
  
  .info-items {
    max-width: 80%;
    margin: auto;
    margin-top: 100px;
  }
  
  /* Heading */
  .about-heading {
    margin-bottom: 30px;
  }
  
  /* Button */
  .btn {
    margin-top: 20px;
  }
  
  /* Image Section */
  .img-section {
    flex-basis: 50%;
    height: 100vh;
  }
  
  .aboutImg {
    height: 100%;
  }
  
  /* Responsive Styles */
  @media screen and (max-width: 700px) {
    .about-items {
      display: flex;
      flex-direction: column;
    }
  
    .aboutImg {
      display: none;
    }
  }
  