.contactSection{
    height: 110vh;
}
.contactHeading{
    padding-top: 100px;
}
.infoDetail{
    display: flex;
}
.img{
    width: 20px;
    height: 20px;
    margin-top: 20px;
}
.infoText{
    margin-left: 10px;
    margin-top: 20px;
}
.officeInfo{
    margin-top: 30px;
}
.officeInfo p:nth-of-type(3){
    margin-top: 20px;
}
.iconImg{
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin: 17px;
}
.social{
    display: flex;
    margin-top: 30px;
}
.socialLinks{
    display: flex;
}
.socialText{
    display: flex;
    justify-content: space-between;
}
.webLogo{
    display: flex;
}
.ContactIcon{
    margin: 5px;
    width: 40px;
    height: 40px;
}

@media screen and (max-width:1000px) {
    .contactSection{
        padding: 50px;
    }
}
@media screen and (max-width:786px) {
    .webLogo{
        margin-top: 50px;
    }
}