.container{
    width: 100%;
    max-width: 900px;
    margin: auto;
  }
.feedbacksection{
    height: 100vh;
    background:linear-gradient(rgba(1, 8, 27, 0.842),rgba(2, 5, 22, 0.801)), url(../../assets/hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fff;
}
.feedbacktext{
    width: 100%;
    text-align: center;
}
.feedheading{
    padding-top: 100px;
    padding-bottom: 30px;
}
.boxtext{
    color: #eeead6;
}
.NameText{
    color: #cdad7d;
}
.boxes{
    display: flex;
}
.box{
    height: 250px;
    margin: 20px;
    padding: 20px;
    border: 2px solid #cdad7d;
}
@media screen and (max-width:753px){
    .box{
        height: 350px;
    }
}
@media screen and (max-width:637px){
    .boxes{
        display: block;
    }
    .box{
        height: 200px;
    }
}
@media screen and (max-width:376px){
    .boxtext{
        font-size: 10px;
    }
    .box{
        height: 100px;
        margin: 5px;
        padding: 5px;
        border: 2px solid #cdad7d;
    }
}
@media screen and (max-width:333px){
    .box{
        height: 200px;
        margin: 5px;
        padding: 5px;
        border: 2px solid #cdad7d;
    }
    .boxtext{
        color: #eeead6;
        font-size: 16px;
    }
}
@media screen and (max-width:246px){
    .boxtext{
        color: #eeead6;
        font-size: 13px;
    }
}